.button {
    background:$blue;
    color: white;
    // display: inline-block;
    padding: $s-size;
    border: none;
    font-weight: 300;
    line-height: 1;
    font-size: $font-size-large;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}

.button--out {
    color: $dark-blue;
    font-weight: 500;
}

.button--footer {
    display: inline-flex;
    padding: 0;
}