.header {
    background: $silver;
    position: sticky;
    top: 0;
    z-index: 1;
    // position: relative;
}

.header__content {
    align-items: center;

    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header__title {
    color: $dark-blue;
    text-decoration: none;
    h1 {
        margin: 0;
    }
    font-size: $font-size-extrasmall;
}