.header {
    background: $off-white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background: $off-white;
}

.header__title {
    color: $dark-blue;
    text-decoration: none;
    h1 {
        margin: 0;
    }
    font-size: $font-size-extrasmall;
}

.main-header {
    background: $off-white;
}

.main-header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.main-Header_Button {
    background: $dark-green;
    text-decoration: none;
    width: 100%;
    border: 1px solid darken($silver, 7%);
    color: $dark-blue;
    display: flex;
    justify-content: space-around;
    padding: $xs-size;
    font-weight: 600;
    overflow: visible;
    transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-Header_Button-active {
    // border-top: 5px solid darken($dark-green, 10%);
    // border-bottom: 5px solid darken($dark-green, 10%);
    // border-radius: 5px;
    color: white;
}