.header {
    background: $silver;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header__title {
    color: $dark-blue;
    text-decoration: none;
    h1 {
        margin: 0;
    }
    font-size: $font-size-extrasmall;
}