.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    // color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-body {
    margin-bottom: $m-size; 
    @media (min-width: $desktop-breakpoint) {  
        margin-bottom: $l-size;
    }
}

.list-item {
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $xs-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }
    @media (min-width: $desktop-breakpoint) {
        // align-items: center;
        // flex-direction: row;
        // justify-content: space-between;
        padding: $m-size;
    }
}

.list-item--mesaage {
    align-items: center;
    color: grey;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title {
    margin: 0;
    color: green;
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: $s-size 0 0 0;
    display: flex;
    justify-content: center;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

.list-item__day {
    display: flex;
    background:$blue;
    color: white;
    padding-left: $m-size;
    font-weight: 500;
    font-size: $font-size-small;
    line-height: 1.2;
    @media (min-width: $desktop-breakpoint) {
        line-height: 1.6;
        font-weight: bold;
    }
}

.list-item__total {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    text-align: right;
    font-weight: bold;
    color: $dark-blue;
    font-size: $font-size-small;
    line-height: 1;
    padding-right: $xs-size;
    @media (min-width: $desktop-breakpoint) {
        line-height: 1.6;
        padding-right: $m-size;
    }
}