.page-footer {
    background: $off-white;
    margin-top: $xs-size;
    padding: 0;
    position: sticky;
    bottom: 0
}


.page-footer__actions {
    // margin-top: $m-size;
    display: flex;
    // box-sizing: content-box;
}

.page-footer__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 700;
    }
}

.page-footer__total {
    @extend .list-item__total;
    margin: 0;
    padding-top: $xss-size;
    padding-bottom: $xss-size;
}