.page-footer {
    background: $off-white;
    margin-bottom: $l-size;
    padding: $l-size 0;
    position: sticky;
    bottom: 0
}


.page-fotter__actions {
    // margin-top: $m-size;
}

.page-footer__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: 700;
    }
}